@model LinearUpdateDashboard.ViewModels.AssetCheckInputFormViewModel
@{
    ViewData["Title"] = "Index";
}
<h1>Partner Status</h1>

<div class="mb-3 row">
    <form asp-action="AssetStatusResults" asp-controller="PartnerStatus">
        <p>Spot Lookup</p>
        @Html.TextAreaFor(m=>m.AssetSearch, new {@class="form-control", rows="10"})

        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>