@model LinearUpdateDashboard.ViewModels.AssetsResultsViewModel
@{
    ViewData["Title"] = "Result";
}
@section Styles {
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css"/>    
    <link rel="stylesheet" href="~/lib/datatables/dist/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/extensions/autofill/css/autoFill.bootstrap5.css"/>
    <link rel="stylesheet" href="~/lib/datatables/extensions/buttons/css/buttons.bootstrap5.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/extensions/colreorder/css/colReorder.bootstrap5.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/extensions/datetime/css/dataTables.dateTime.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/extensions/fixedcolumns/css/fixedColumns.bootstrap5.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/extensions/fixedheader/css/fixedHeader.bootstrap5.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/extensions/keytable/css/keyTable.bootstrap5.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/extensions/responsive/css/responsive.bootstrap5.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/extensions/rowgroup/css/rowGroup.bootstrap5.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/extensions/rowreorder/css/rowReorder.bootstrap5.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/extensions/scroller/css/scroller.bootstrap5.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/extensions/searchbuilder/css/searchBuilder.bootstrap5.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/extensions/searchpanes/css/searchPanes.bootstrap5.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/extensions/select/css/select.bootstrap5.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/extensions/staterestore/css/stateRestore.bootstrap5.min.css"/>
}

@section Scripts {
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/lib/datatables/extensions/jszip/jszip.min.js"></script>
    <script src="~/lib/datatables/extensions/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/datatables/extensions/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/datatables/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dist/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables/extensions/autofill/js/dataTables.autoFill.min.js"></script>
    <script src="~/lib/datatables/extensions/autofill/js/autoFill.bootstrap5.min.js"></script>
    <script src="~/lib/datatables/extensions/buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables/extensions/buttons/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables/extensions/buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables/extensions/buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables/extensions/buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables/extensions/colreorder/js/dataTables.colReorder.min.js"></script>
    <script src="~/lib/datatables/extensions/datetime/js/dataTables.dateTime.min.js"></script>
    <script src="~/lib/datatables/extensions/fixedcolumns/js/dataTables.fixedColumns.min.js"></script>
    <script src="~/lib/datatables/extensions/fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/lib/datatables/extensions/keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/lib/datatables/extensions/responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables/extensions/responsive/js/responsive.bootstrap5.js"></script>
    <script src="~/lib/datatables/extensions/rowgroup/js/dataTables.rowGroup.min.js"></script>
    <script src="~/lib/datatables/extensions/rowreorder/js/dataTables.rowReorder.min.js"></script>
    <script src="~/lib/datatables/extensions/scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/lib/datatables/extensions/searchbuilder/js/dataTables.searchBuilder.min.js"></script>
    <script src="~/lib/datatables/extensions/searchbuilder/js/searchBuilder.bootstrap5.min.js"></script>
    <script src="~/lib/datatables/extensions/searchpanes/js/dataTables.searchPanes.min.js"></script>
    <script src="~/lib/datatables/extensions/searchpanes/js/searchPanes.bootstrap5.min.js"></script>
    <script src="~/lib/datatables/extensions/select/js/dataTables.select.min.js"></script>
    <script src="~/lib/datatables/extensions/staterestore/js/dataTables.stateRestore.min.js"></script>
    <script src="~/lib/datatables/extensions/staterestore/js/stateRestore.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function () {
                var table = $('#SpotFoundInAlticeAssetsDT').DataTable( {
                    dom: "<'row mb-3'<'col-sm-4'l><'col-sm-8 text-end'<'d-flex justify-content-end'B>>>t<'d-flex align-items-center'<'me-auto'i><'mb-0'p>>",
                    responsive: true,
                    select: true,
                    lengthMenu: [
                        [ 10, 30, 100, -1 ],
                        [ '10 rows', '30 rows', '100 rows', 'Show all' ]
                    ],
                    language: {
                      emptyTable: 'No Spots Found'
                    },
                    buttons: [
                        { 
                            extend: 'copy',
                                exportOptions: 
                                { 
                                    columns: [ 0, ':selected' ]
                                },
                            title: null,
                            header: false,
                            className: 'btn btn-outline-default btn-sm'
                        },
                        { extend: 'excel', className: 'btn btn-outline-default btn-sm' },
                        { extend: 'pdf', className: 'btn btn-outline-default btn-sm' },
                        {
                            extend: 'spacer',
                            style: 'bar'
                        },
                        { extend: 'selectAll', className: 'btn btn-outline-default btn-sm' },
                        { extend: 'selectNone', className: 'btn btn-outline-default btn-sm' }
                    ]
                });
           });
        $(document).ready(function () {
                var table = $('#SpotFoundInSpectrumAssetsDT').DataTable( {
                    dom: "<'row mb-3'<'col-sm-4'l><'col-sm-8 text-end'<'d-flex justify-content-end'B>>>t<'d-flex align-items-center'<'me-auto'i><'mb-0'p>>",
                    responsive: true,
                    select: true,
                    lengthMenu: [
                        [ 10, 30, 100, -1 ],
                        [ '10 rows', '30 rows', '100 rows', 'Show all' ]
                    ],
                    language: {
                      emptyTable: 'No Spots Found'
                    },
                    buttons: [
                        { 
                            extend: 'copy',
                                exportOptions: 
                                { 
                                    columns: [ 0, ':selected' ]
                                },
                            title: null,
                            header: false,
                            className: 'btn btn-outline-default btn-sm'
                        },
                        { extend: 'excel', className: 'btn btn-outline-default btn-sm' },
                        { extend: 'pdf', className: 'btn btn-outline-default btn-sm' },
                        {
                            extend: 'spacer',
                            style: 'bar'
                        },
                        { extend: 'selectAll', className: 'btn btn-outline-default btn-sm' },
                        { extend: 'selectNone', className: 'btn btn-outline-default btn-sm' }
                    ]
                });
           });
        $(document).ready(function () {
                var table = $('#SpotFoundInFrontierEastAssetsDT').DataTable( {
                    dom: "<'row mb-3'<'col-sm-4'l><'col-sm-8 text-end'<'d-flex justify-content-end'B>>>t<'d-flex align-items-center'<'me-auto'i><'mb-0'p>>",
                    responsive: true,
                    select: true,
                    lengthMenu: [
                        [ 10, 30, 100, -1 ],
                        [ '10 rows', '30 rows', '100 rows', 'Show all' ]
                    ],
                    language: {
                      emptyTable: 'No Spots Found'
                    },
                    buttons: [
                        { 
                            extend: 'copy',
                                exportOptions: 
                                { 
                                    columns: [ 0, ':selected' ]
                                },
                            title: null,
                            header: false,
                            className: 'btn btn-outline-default btn-sm'
                        },
                        { extend: 'excel', className: 'btn btn-outline-default btn-sm' },
                        { extend: 'pdf', className: 'btn btn-outline-default btn-sm' },
                        {
                            extend: 'spacer',
                            style: 'bar'
                        },
                        { extend: 'selectAll', className: 'btn btn-outline-default btn-sm' },
                        { extend: 'selectNone', className: 'btn btn-outline-default btn-sm' }
                    ]
                });
           });
        $(document).ready(function () {
                var table = $('#SpotFoundInFrontierWestAssetsDT').DataTable( {
                    dom: "<'row mb-3'<'col-sm-4'l><'col-sm-8 text-end'<'d-flex justify-content-end'B>>>t<'d-flex align-items-center'<'me-auto'i><'mb-0'p>>",
                    responsive: true,
                    select: true,
                    lengthMenu: [
                        [ 10, 30, 100, -1 ],
                        [ '10 rows', '30 rows', '100 rows', 'Show all' ]
                    ],
                    language: {
                      emptyTable: 'No Spots Found'
                    },
                    buttons: [
                        { 
                            extend: 'copy',
                                exportOptions: 
                                { 
                                    columns: [ 0, ':selected' ]
                                },
                            title: null,
                            header: false,
                            className: 'btn btn-outline-default btn-sm'
                        },
                        { extend: 'excel', className: 'btn btn-outline-default btn-sm' },
                        { extend: 'pdf', className: 'btn btn-outline-default btn-sm' },
                        {
                            extend: 'spacer',
                            style: 'bar'
                        },
                        { extend: 'selectAll', className: 'btn btn-outline-default btn-sm' },
                        { extend: 'selectNone', className: 'btn btn-outline-default btn-sm' }
                    ]
                });
           });
        $(document).ready(function () {
                var table = $('#SpotNotFoundDT').DataTable( {
                    dom: "<'row mb-3'<'col-sm-4'l><'col-sm-8 text-end'<'d-flex justify-content-end'B>>>t<'d-flex align-items-center'<'me-auto'i><'mb-0'p>>",
                    responsive: true,
                    select: true,
                    lengthMenu: [
                        [ 10, 30, 100, -1 ],
                        [ '10 rows', '30 rows', '100 rows', 'Show all' ]
                    ],
                    language: {
                      emptyTable: 'No Spots Found'
                    },
                    buttons: [
                        { 
                            extend: 'copy',
                                exportOptions: 
                                { 
                                    columns: [ 0, ':selected' ]
                                },
                            title: null,
                            header: false,
                            className: 'btn btn-outline-default btn-sm'
                        },
                        { extend: 'excel', className: 'btn btn-outline-default btn-sm' },
                        { extend: 'pdf', className: 'btn btn-outline-default btn-sm' },
                        {
                            extend: 'spacer',
                            style: 'bar'
                        },
                        { extend: 'selectAll', className: 'btn btn-outline-default btn-sm' },
                        { extend: 'selectNone', className: 'btn btn-outline-default btn-sm' }
                    ]
                });
           });
    </script>
}
<h1>Spot Status</h1>
<div id="datatable" class="mb-5">
        <table id="SpotFoundInAlticeAssetsDT" class="table table-bordered text-nowrap w-100">
        <thead>
            <tr>
                <th>
                    Assets Found in Altice Directory
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.SpotFoundInAlticeAssets) {
            <tr>
                <td style="text-transform: uppercase;">
                    @item
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
<div id="datatable" class="mb-5">
        <table id="SpotFoundInSpectrumAssetsDT" class="table table-bordered text-nowrap w-100">
        <thead>
            <tr>
                <th>
                    Assets Found in Spectrum Directory
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.SpotFoundInSpectrumAssets) {
            <tr>
                <td style="text-transform: uppercase;">
                    @item
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
<div id="datatable" class="mb-5">
        <table id="SpotFoundInFrontierEastAssetsDT" class="table table-bordered text-nowrap w-100">
        <thead>
            <tr>
                <th>
                    Spot Found in Frontier East Mezz Directory
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.SpotFoundInFrontierEastAssets) {
            <tr>
                <td style="text-transform: uppercase;">
                    @item
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
<div id="datatable" class="mb-5">
        <table id="SpotFoundInFrontierWestAssetsDT" class="table table-bordered text-nowrap w-100">
        <thead>
            <tr>
                <th>
                    Spot Found in Frontier West Mezz Directory
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.SpotFoundInFrontierWestAssets) {
            <tr>
                <td style="text-transform: uppercase;">
                    @item
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
<div id="datatable" class="mb-5">
        <table id="SpotNotFoundDT" class="table table-bordered text-nowrap w-100">
        <thead>
            <tr>
                <th>
                    Spots Not Found
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.SpotNotFound) {
            <tr>
                <td style="text-transform: uppercase;">
                    @item
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
<a asp-action="Index">Return to Search</a>