@using LinearUpdateDashboard.ViewModels
@model MarketDetailsViewModelTwo

<div>
    <a asp-action="Index">Back</a>
</div>
<div>
    <h1>@Model.Market.Name</h1>    
</div>

<a asp-action="ExportMarket" asp-route-name="@Model.Market.Name">Download Table</a>
<div>
    <table>
        <thead>
            <tr>
                <th>Spot ID</th>
                <th>Air Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var spot in Model.SpotsInMarket)
            {
                <tr>
                    <td>@spot.SpotCode</td>
                    <td>@spot.DistributionServerSpots?.OrderBy(dss=>dss.FirstAirDate)?.FirstOrDefault()?.FirstAirDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
     <partial name="_Pager" for="PagingModel" />   
</div>