@model LinearUpdateDashboard.ViewModels.Admin.DistributionServersEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Distribution Server</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="DistributionServers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DistributionServer.Id" />
            <div class="form-group">
                <label asp-for="DistributionServer.ServerIdentity" class="control-label">Server Path</label>
                <input asp-for="DistributionServer.ServerIdentity" class="form-control" />
                <span asp-validation-for="DistributionServer.ServerIdentity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistributionServer.ServerFolder" class="control-label">Server Path</label>
                <input asp-for="DistributionServer.ServerFolder" class="form-control" />
                <span asp-validation-for="DistributionServer.ServerFolder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistributionServer.Headquarters" class="control-label">Server Headquarters</label>
                <select asp-for="SelectedHeadquartersId" 
                        asp-items="@(new SelectList(Model.HeadquartersSelectedListItems, "Value", "Text", "Selected"))", class="form-control" style="text-transform: uppercase;">
                </select>
                <span asp-validation-for="DistributionServer.Headquarters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Admin">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
