@model LinearUpdateDashboard.ViewModels.MarketListViewModel

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Market
            </th>
            <th>
                Last Update
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Markets) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.LastUpdated
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Name">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
